<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ssafy.home.mapper.AreaMapper">
    <!-- 법정시 단위 조회 -->
    <select id="findSidoByBoundingBox" resultType="com.ssafy.home.dto.AddressResponse">
        WITH sido_price AS (
            SELECT
                CONCAT(SUBSTRING(dc.dong_code, 1, 2), '00000000') AS region_code,
                SUM(aps.avg_price) / NULLIF(SUM(aps.pyung), 0) AS avg_price_per_pyung,
                AVG(aps.avg_price) AS avg_price
            FROM apt_pyung_stats aps
            INNER JOIN houseinfos hi ON aps.apt_seq = hi.apt_seq
            INNER JOIN dongcodes dc ON hi.dong_code = dc.dong_code
            WHERE aps.avg_price IS NOT NULL
              AND aps.pyung IS NOT NULL
              AND aps.pyung != 0
              AND dc.latitude BETWEEN #{geo.minLat} AND #{geo.maxLat}
              AND dc.longitude BETWEEN #{geo.minLng} AND #{geo.maxLng}
            GROUP BY region_code
        )
        SELECT
            sido.dong_code AS dongCode,
            sido.sido_name AS sidoName,
            NULL AS gugunName,
            NULL AS dongName,
            NULL AS aptSeq,
            NULL AS aptName,
            NULL AS aptDong,
            sido.latitude,
            sido.longitude,
            CAST(ROUND(sp.avg_price_per_pyung) AS SIGNED) AS pricePerPyung,
            CAST(ROUND(sp.avg_price) AS SIGNED) as avgPrice,
            NULL as primaryPyung
        FROM dongcodes sido
        LEFT JOIN sido_price sp ON sp.region_code = sido.dong_code
        WHERE sido.gugun_name IS NULL
            AND sido.latitude BETWEEN #{geo.minLat} AND #{geo.maxLat}
            AND sido.longitude BETWEEN #{geo.minLng} AND #{geo.maxLng}
        <if test="price != null and price.minPrice != null">
            AND sp.avg_price_per_pyung &gt;= #{price.minPrice}
        </if>
        <if test="price != null and price.maxPrice != null">
            AND sp.avg_price_per_pyung &lt;= #{price.maxPrice}
        </if>
        LIMIT 100
    </select>

    <!-- 법정구 단위 조회 -->
    <select id="findGugunByBoundingBox" resultType="com.ssafy.home.dto.AddressResponse">
        WITH gugun_price AS (
            SELECT
                CONCAT(SUBSTRING(dc.dong_code, 1, 5), '00000') AS region_code,
                SUM(aps.avg_price) / NULLIF(SUM(aps.pyung), 0) AS avg_price_per_pyung
            FROM apt_pyung_stats aps
            INNER JOIN houseinfos hi ON aps.apt_seq = hi.apt_seq
            INNER JOIN dongcodes dc ON hi.dong_code = dc.dong_code
            WHERE aps.avg_price IS NOT NULL
              AND aps.pyung IS NOT NULL
              AND aps.pyung != 0
              AND dc.latitude BETWEEN #{geo.minLat} AND #{geo.maxLat}
              AND dc.longitude BETWEEN #{geo.minLng} AND #{geo.maxLng}
            GROUP BY region_code
        )
        SELECT
            gugun.dong_code AS dongCode,
            gugun.sido_name AS sidoName,
            gugun.gugun_name AS gugunName,
            NULL AS dongName,
            NULL AS aptSeq,
            NULL AS aptName,
            NULL AS aptDong,
            gugun.latitude,
            gugun.longitude,
            CAST(ROUND(gp.avg_price_per_pyung) AS SIGNED) AS pricePerPyung,
            CAST(ROUND(gp.avg_price) AS SIGNED) as avgPrice,
            NULL as primaryPyung
        FROM dongcodes gugun
        LEFT JOIN gugun_price gp ON gp.region_code = gugun.dong_code
        WHERE gugun.gugun_name IS NOT NULL AND gugun.dong_name IS NULL
            AND gugun.latitude BETWEEN #{geo.minLat} AND #{geo.maxLat}
            AND gugun.longitude BETWEEN #{geo.minLng} AND #{geo.maxLng}
        <if test="price != null and price.minPrice != null">
            AND gp.avg_price_per_pyung &gt;= #{price.minPrice}
        </if>
        <if test="price != null and price.maxPrice != null">
            AND gp.avg_price_per_pyung &lt;= #{price.maxPrice}
        </if>
        LIMIT 100
    </select>

    <!-- 법정동 단위 조회 -->
    <select id="findDongByBoundingBox" resultType="com.ssafy.home.dto.AddressResponse">
        WITH dong_price AS (
            SELECT
                dc.dong_code AS region_code,
                SUM(aps.avg_price) / NULLIF(SUM(aps.pyung), 0) AS avg_price_per_pyung,
                AVG(aps.avg_price) AS avg_price
            FROM apt_pyung_stats aps
            INNER JOIN houseinfos hi ON aps.apt_seq = hi.apt_seq
            INNER JOIN dongcodes dc ON hi.dong_code = dc.dong_code
            WHERE aps.avg_price IS NOT NULL
              AND aps.pyung IS NOT NULL
              AND aps.pyung != 0
              AND dc.latitude BETWEEN #{geo.minLat} AND #{geo.maxLat}
              AND dc.longitude BETWEEN #{geo.minLng} AND #{geo.maxLng}
            GROUP BY dc.dong_code
        )
        SELECT
            dong.dong_code AS dongCode,
            dong.sido_name AS sidoName,
            dong.gugun_name AS gugunName,
            dong.dong_name AS dongName,
            NULL AS aptSeq,
            NULL AS aptName,
            NULL AS aptDong,
            dong.latitude,
            dong.longitude,
            CAST(ROUND(dp.avg_price_per_pyung) AS SIGNED) AS pricePerPyung,
            CAST(ROUND(dp.avg_price) AS SIGNED) as avgPrice,
            NULL as primaryPyung
        FROM dongcodes dong
        LEFT JOIN dong_price dp ON dp.region_code = dong.dong_code
        WHERE dong.dong_name IS NOT NULL
            AND dong.latitude BETWEEN #{geo.minLat} AND #{geo.maxLat}
            AND dong.longitude BETWEEN #{geo.minLng} AND #{geo.maxLng}
        <if test="price != null and price.minPrice != null">
            AND dp.avg_price_per_pyung &gt;= #{price.minPrice}
        </if>
        <if test="price != null and price.maxPrice != null">
            AND dp.avg_price_per_pyung &lt;= #{price.maxPrice}
        </if>
        LIMIT 100
    </select>

    <!-- 아파트 단위 조회: apt_pyung_stats 사용 -->
    <select id="findAptByBoundingBox" resultType="com.ssafy.home.dto.AddressResponse">
        SELECT
            rep.dong_code AS dongCode,
            dc.sido_name AS sidoName,
            dc.gugun_name AS gugunName,
            dc.dong_name AS dongName,
            rep.apt_seq AS aptSeq,
            rep.apt_nm AS aptName,
            NULL AS aptDong,
            rep.latitude AS latitude,
            rep.longitude AS longitude,
            rep.avg_price AS avgPrice,
            rep.pyung AS primaryPyung,
            CASE WHEN rep.pyung IS NOT NULL AND rep.pyung != 0 THEN CAST(ROUND(rep.avg_price / rep.pyung) AS SIGNED) ELSE NULL END AS pricePerPyung
        FROM dongcodes dc
        INNER JOIN (
            -- 좌표 범위 내 대표 평형 선택
            SELECT
                apt_seq,
                dong_code,
                apt_nm,
                latitude,
                longitude,
                pyung, -- 대표 평형
                avg_price,
                deal_count
            FROM (
                SELECT
                    aps.apt_seq,
                    hi.dong_code,
                    hi.apt_nm,
                    hi.latitude,
                    hi.longitude,
                    aps.pyung,
                    aps.avg_price,
                    aps.deal_count,
                    ROW_NUMBER() OVER (PARTITION BY aps.apt_seq ORDER BY aps.deal_count DESC, aps.pyung ASC) AS rn
                FROM apt_pyung_stats aps
                INNER JOIN houseinfos hi
                    ON aps.apt_seq = hi.apt_seq
                -- 1. 범위 기반 필터링
                WHERE hi.latitude BETWEEN #{geo.minLat} AND #{geo.maxLat}
                    AND hi.longitude BETWEEN #{geo.minLng} AND #{geo.maxLng}
                -- 2. 평형 및 가격 필터링
                <if test="pyung != null and pyung.minPyung != null">
                    AND aps.pyung &gt;= #{pyung.minPyung}
                </if>
                <if test="pyung != null and pyung.maxPyung != null">
                    AND aps.pyung &lt;= #{pyung.maxPyung}
                </if>
                <if test="price != null and price.minPrice != null">
                    AND aps.avg_price &gt;= #{price.minPrice}
                </if>
                <if test="price != null and price.maxPrice != null">
                    AND aps.avg_price &lt;= #{price.maxPrice}
                </if>
            ) ranked
            WHERE rn = 1
        ) rep ON dc.dong_code = rep.dong_code
        LIMIT 100
    </select>

    <!-- 아파트 동 단위 조회: apt_dong_pyung_stats 사용 -->
    <select id="findAptDongByBoundingBox" resultType="com.ssafy.home.dto.AddressResponse">
        SELECT
            hi.dong_code AS dongCode,
            dc.sido_name AS sidoName,
            dc.gugun_name AS gugunName,
            dc.dong_name AS dongName,
            hi.apt_seq AS aptSeq,
            hi.apt_nm AS aptName,
            rep.apt_dong AS aptDong,
            rep.latitude AS latitude,
            rep.longitude AS longitude,
            rep.avg_price AS avgPrice,
            rep.pyung AS primaryPyung,
            CASE WHEN rep.pyung IS NOT NULL AND rep.pyung != 0 THEN CAST(ROUND(rep.avg_price / rep.pyung) AS SIGNED) ELSE NULL END AS pricePerPyung
        FROM houseinfos hi
        INNER JOIN dongcodes dc ON hi.dong_code = dc.dong_code
        INNER JOIN (
            -- 좌표 범위 내 대표 평형 선택
            SELECT
                apt_seq,
                apt_dong,
                latitude,
                longitude,
                pyung, -- 대표 평형
                avg_price,
                deal_count
            FROM (
                SELECT
                    ads.apt_seq,
                    ads.apt_dong,
                    ads.latitude,
                    ads.longitude,
                    adps.pyung,
                    adps.avg_price,
                    adps.deal_count,
                    ROW_NUMBER() OVER (PARTITION BY ads.apt_seq, ads.apt_dong ORDER BY adps.deal_count DESC, pyung ASC) AS rn
                FROM apt_dong_pyung_stats adps
                INNER JOIN apt_dong_stats ads
                    ON adps.apt_seq = ads.apt_seq
                    AND adps.apt_dong = ads.apt_dong
                -- 1. 범위 기반 필터링
                WHERE ads.latitude BETWEEN #{geo.minLat} AND #{geo.maxLat}
                    AND ads.longitude BETWEEN #{geo.minLng} AND #{geo.maxLng}
                -- 2. 평형 및 가격 필터링
                <if test="pyung != null and pyung.minPyung != null">
                    AND adps.pyung &gt;= #{pyung.minPyung}
                </if>
                <if test="pyung != null and pyung.maxPyung != null">
                    AND adps.pyung &lt;= #{pyung.maxPyung}
                </if>
                <if test="price != null and price.minPrice != null">
                    AND adps.avg_price &gt;= #{price.minPrice}
                </if>
                <if test="price != null and price.maxPrice != null">
                    AND adps.avg_price &lt;= #{price.maxPrice}
                </if>
            ) ranked
            WHERE rn = 1
        ) rep ON hi.apt_seq = rep.apt_seq
        LIMIT 100
    </select>
</mapper>
