<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.home.mapper.HouseDealMapper">

    <resultMap id="houseDealResultMap" type="com.ssafy.home.dto.HouseDealResponse">
        <id property="no" column="no"/>
        <result property="aptSeq" column="apt_seq"/>
        <result property="aptDong" column="apt_dong"/>
        <result property="floor" column="floor"/>
        <result property="dealDate" column="deal_date"/>
        <result property="excluUseAr" column="exclu_use_ar"/>
        <result property="dealAmount" column="deal_amount"/>
        <result property="aptNm" column="apt_nm"/>
        <result property="roadNm" column="road_nm"/>
        <result property="jibun" column="jibun"/>
        <result property="buildYear" column="build_year"/>
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
        <result property="dongCode" column="dong_code"/>
        <result property="sidoName" column="sido_name"/>
        <result property="gugunName" column="gugun_name"/>
        <result property="dongName" column="dong_name"/>
    </resultMap>

</mapper>

